<!-- wp:group -->
<div class="wp-block-group newfolio__container">
    <!-- wp:template-part {"slug":"sidebar", "className":"newfolio__navigation"} /-->

    <!-- wp:group {"className":"newfolio__content" } -->
    <div class="wp-block-group newfolio__content">
        <!-- wp:group {"className":"newfolio__post-wrapper", "tagName":"main"} -->
        <main class="wp-block-group newfolio__post-wrapper">

            <!-- wp:heading {"className":"newfolio__posts-title"} -->
                <h2 class="wp-block-heading newfolio__posts-title">search</h2>
            <!-- /wp:heading -->

            <!-- wp:group -->
            <div class="wp-block-group">
                <!-- wp:group {"className": "newfolio__search" } -->
                <div class="wp-block-group newfolio__search">
                    <!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /-->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
            
            <!-- wp:query {"className":"newfolio__category-query", "queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":{"relation":"AND","taxArray":[{"taxonomy":"category","field":"slug","terms":["category-slug"]}]},"parents":[]} } -->
            <div class="wp-block-query newfolio__category-query">
                <!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}}} -->
                     <!-- wp:group {"className":"link-card", "style":{"border":{"top":{"width":"0px","style":"none"},"right":{"width":"0px","style":"none"},"bottom":{"color":"var:preset|color|dark-border","width":"1px"},"left":{"width":"0px","style":"none"}},"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"var:preset|spacing|60"}}} -->
                     <div class="wp-block-group link-card" style="border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-color:var(--wp--preset--color--dark-border);border-bottom-width:1px;border-left-style:none;border-left-width:0px;margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)">
                       <!-- wp:post-title { "isLink":false, "className": "l-card__title", "level":1,"isLink":true,"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"0px","bottom":"0px"}}}} /-->

                        <!-- wp:group {"className": "newfolio__post-meta-details"} -->
                        <div class="wp-block-group newfolio__post-meta-details">
                            <!-- wp:group {"className": "newfolio__post-meta-detail"} -->
                            <div class="wp-block-group newfolio__post-meta-detail">
                                <!-- wp:template-part {"slug":"calendar-icon", "className":"newfolio_post-meta-icon" } /-->
                                <!-- wp:post-date {"format":"M j, Y", "className":"newfolio_post-meta-copy" }  /-->
                            </div>
                            <!-- /wp:group -->
                            
                            <!-- wp:group {"className": "newfolio__post-meta-detail"} -->
                            <div class="wp-block-group newfolio__post-meta-detail"">
                                <!-- wp:template-part {"slug":"clock-icon", "className":"newfolio_post-meta-icon" } /-->
                                <!-- wp:post-time-to-read { "className":"newfolio_post-meta-copy"} /-->
                            </div>
                            <!-- /wp:group -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->
                <!-- /wp:post-template -->

                <!-- wp:query-no-results -->
                    <!-- wp:paragraph {"style":{"typography":{"fontSize":"var:preset|fontSize|body"}}, "style":{"spacing":{"padding":{"top":"var:preset|spacing|40"}} } -->
                    <p class="wp-block-paragraph" style="font-size:var(--wp--preset--font-size--body); padding-top:var(--wp--preset--spacing--40)">We came up empty, but don't give up just yet. Maybe try again with different words.</p>
                    <!-- /wp:paragraph -->
                <!-- /wp:query-no-results -->

                <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
                    <!-- wp:query-pagination-numbers {"midSize":1, "fontSize":"small-body"} /-->
                <!-- /wp:query-pagination -->
            </div>
            <!-- /wp:query -->
        </main>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->