<!-- wp:group -->
<div class="wp-block-group newfolio__container">
    <!-- wp:template-part {"slug":"sidebar", "className":"newfolio__navigation"} /-->
    
    <!-- wp:group {"className":"newfolio__content","layout":{"type":"constrained", "align": full}, "style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}} } -->
    <div class="wp-block-group newfolio__content" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)">
        <!-- wp:group {"layout":{"type":"constrained"}} -->
            <div class="wp-block-group newfolio__content">
            <!-- wp:post-title {"level":1} /-->
            </div>
        <!-- /wp:group -->
        <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
    </div>
    <!-- /wp:group -->   
</div>
<!-- /wp:group -->
